<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
  <div class="container position-relative text-center text-lg-start">
    <div class="row">
      <div class="col-lg-8 intro-text">
        <h1 class="promote-text">店舗掃除・厨房掃除は</h1>
        <h2 class="promote-text">{{siteName}}にお任せください。</h2>

        <div class="btns">
          <a href="#setprice" class="btn-menu animated fadeInUp scrollto">セット価格</a>
          <a href="#contact" class="btn-book animated fadeInUp scrollto">お問い合わせ</a>
        </div>
      </div>
      <div class="col-lg-4 d-flex align-items-center justify-content-center position-relative" >
      </div>

    </div>
  </div>
</section><!-- End Hero -->