
  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="row">
        <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="100">
          <div class="about-img">
            <img appLazyLoad src="https://fitsys2.blob.core.windows.net/seisopro/images/main/store-img3.jpg" loading="lazy" alt="店舗清掃">
          </div>
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
          <h3>作業のこだわり</h3>
          <p class="fst-italic">
            「作業」「サービス」「スタッフ育成」の3つを大切にしております。
          </p>
          <p class="fst-italic">
            当社では、清掃を「サービス業」と考えているため、単に清掃作業するだけでなく、一人でも多くのお客様を笑顔にできるよう
          </p>
          <ul>
            <li><i class="bi bi-check-circle"></i> 「サービス」と「清掃スタッフの育成」にも力を入れています。誠心誠意、心を込めて日々努力をしていきます。淡々と清掃をこなす清掃スタッフが多い中、明るく元気な当社の清掃スタッフはお客様からご好評頂いております。店舗での清掃をお考えでしたら、お気軽に当社へお問い合わせ下さい。</li>
            <li><i class="bi bi-check-circle"></i> クレームゼロを目指して清掃作業のクオリティ向上に取り組んでおります。</li>
            <li><i class="bi bi-check-circle"></i> また、一人でも多くのお客様のお役に立つ！という店舗清掃プロの精神から「見えないところはキレイにしない」「落とせるはずの汚れを落とさなかった」など清掃のモラルによる問題を起こしません。</li>
            <li><i class="bi bi-check-circle"></i> 清掃のための強い洗剤を使用するケースもあるため、安全管理・衛生管理にも徹底して取り組み、清潔な環境をご提供します。</li>
          </ul>
          <p>

          </p>
        </div>
      </div>

    </div>
  </section><!-- End About Section -->