.section-title{
  flex: 0 0 auto;
  width: 100%;
  z-index: 99 ;
  color: #fff;
  display: flex;
  flex-direction: column;
}

.section-title h2 {
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  margin: 0 0 5px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
    z-index: 99;
}