
  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container">
      <div class="section-title">
        <h2>{{siteName}}は</h2>
        <p>顧客満足度100%に挑戦します。</p>
      </div>
      <div class="row">
        <div class="col-lg-6 order-1 order-lg-2">
          <div class="about-img">
            <img appLazyLoad src="https://fitsys2.blob.core.windows.net/seisopro/images/main/store-img3.jpg" loading="lazy" alt="店舗清掃,厨房清掃">
          </div>
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
          
          <p class="fst-italic">
            {{siteName}}のホームページをご覧いただき誠にありがとうございます。当社は、<strong>店舗清掃/厨房清掃</strong>にお悩みのお客さんに安心してご利用いただけますように「熟練スタッフによる敏速な対応」「安価な料金設定と無駄なコストを削減」「クレームゼロを目指して顧客満足度UP」に心かけています。
          </p>
          <ul>
            <li><i class="bi bi-check-circle"></i>お客さんの中には「すぐに施工してほしい」「すぐに作業見積りがほしい」「他の工事があるため最速で仕上げてほしい」など色んなご要望があります。当社はお客さんのご希望に合わせて、最短で<strong>当日見積り・翌日施工</strong>も可能です。</li>
            <li><i class="bi bi-check-circle"></i>当社は毎月の定期清掃とは別に、必要なところだけをキレイにする<strong>スポット清掃</strong>のご要望にも対応させて頂きます。お得なセット料金プラン設定もありますので、是非ご検討ください。</li>
            <li><i class="bi bi-check-circle"></i>作業において、早くキレイに仕上げるというのは当然のこと。当社はお客さんからいただいたお仕事に心を込めて感謝する気持ちで対応します。お客さんの大事な財産である店舗をよりキレイにするために日々努力致します。</li>
          </ul>
          <p class="fst-italic">
            <strong>店舗清掃/厨房清掃</strong>のことなら、お気軽に当社へお問い合わせください。
          </p>
        </div>
      </div>

    </div>
  </section><!-- End About Section -->