<!-- ======= Top Bar ======= -->
<mat-progress-bar class="top-progress" *ngIf="isProgress" mode="indeterminate"></mat-progress-bar>
<div id="topbar" class="d-flex align-items-center fixed-top">
  
  <div class="container d-flex justify-content-center justify-content-md-between">

    <div class="contact-info d-flex align-items-center">
      <i class="bi bi-phone d-flex align-items-center"><a [href]="'tel:' + phone"> {{phone}}</a></i>
      <i class="bi bi-clock d-flex align-items-center ms-4"><span> {{time}}</span></i>
    </div>
    <!-- <div class="upper">
      <a href="tel:0120-498-009">
      <span class="free">通話料無料</span><span class="number">0120-498-009</span>
      </a>
      </div> -->
    <div class="languages d-none d-md-flex align-items-center">
      <ul>
        <!-- <li><a href="#contact">お問い合わせ</a></li> -->
      </ul>
    </div>
  </div>
</div>

<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex align-items-cente">
  <div class="container-fluid container-xl d-flex align-items-center justify-content-lg-between">

    <h1 class="logo me-auto me-lg-0"><a routerLink="/">{{siteName}}</a></h1>
    <!-- Uncomment below if you prefer to use an image logo -->
    <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

    <nav id="navbar" class="navbar order-last order-lg-0">
      <ul>
        <li *ngFor="let navi of topNavis"><a class="nav-link scrollto" [class.active]="navi.isActive ? 'active' : ''" [href]="navi.path">{{navi.title}}</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle" (click)="toggleMenu()"></i>
    </nav><!-- .navbar -->
    <a href="#contact" class="book-a-table-btn scrollto d-none d-lg-flex">お問い合わせ</a>

  </div>
</header><!-- End Header -->