
  <!-- ======= Gallery Section ======= -->
  <section id="gallery" class="gallery">

    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>実績</h2>
        <p>比べてください。安心と満足を差し上げます。</p>
      </div>
    </div>

    <div class="container-fluid" data-aos="fade-up" data-aos-delay="100">

      <div class="row g-0">

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a href="assets/img/gallery/gallery-1.jpg" loading="lazy" class="gallery-lightbox" data-gall="gallery-item" alt="店舗清掃">
              <img appLazyLoad src="assets/img/gallery/gallery-1.jpg" loading="lazy" alt="" class="img-fluid" alt="店舗清掃">
            </a>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Gallery Section -->