
  <!-- ======= Testimonials Section ======= -->
  <section id="testimonials" class="testimonials section-bg">
    <div class="container">

      <div class="section-title">
        <h2> 運営会社</h2>
        <p>ごあいさつ</p>
      </div>

      <div class="testimonials-slider swiper-container" data-aos-delay="100">
        <div class="swiper-wrapper">

          <div class="swiper-slide">
            <div class="testimonial-item">
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                店舗・ハウスの引渡し清掃は、急な対応が必要だったり、日程変更が頻繁に起こるなどの要素があることから、多くの清掃会社がイヤがる傾向があります。そんな中、弊社は積極的に清掃に対応できるように体制を整え、お困りのお客様のお役に立てるよう努力しております。
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
              <img appLazyLoad src="assets/img/testimonials/testimonials-1.jpg" loading="lazy" class="testimonial-img" alt="店舗清掃,厨房清掃">
              <h3>Saul Goodman</h3>
              <h4>Ceo &amp; Founder</h4>
            </div>
          </div><!-- End testimonial item -->

        </div>
        <div class="swiper-pagination"></div>
      </div>

    </div>
  </section><!-- End Testimonials Section -->