
    <!-- ======= Events Section ======= -->
    <section id="setprice" class="setprice">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Set price</h2>
          <p>お得なセット料金プランです。</p>
        </div>

        <div class="events-slider swiper-container" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="row event-item" *ngFor="let event of events">
                <div class="col-lg-6">
                  <img appLazyLoad [src]="event.img" class="img-fluid event-img" loading="lazy" alt="店舗清掃">
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 content" >
                  <h3>{{event.title}}</h3>
                  <div class="price">
                    <p><span>{{event.price | currency:'JPY' }}</span></p>
                  </div>
                  <p class="fst-italic">
                    {{event.desc}}
                  </p>
                  <ul>
                    <li *ngFor="let detail of event.eventDetails"><i class="bi bi-check-circled"></i>{{detail.item}}</li>
                  </ul>
                </div>
              </div>
            </div><!-- End testimonial item -->


          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Events Section -->