

<app-section-intro id="intro"></app-section-intro>

<main id="main">

  <app-section-go-contact></app-section-go-contact>

  <app-section-area id="service-area"></app-section-area>

  <app-section-go-contact></app-section-go-contact>

  <app-section-about id="about"></app-section-about>

  <app-section-go-contact></app-section-go-contact>

  <app-section-why-us id="whyus"></app-section-why-us>

  <app-section-go-contact></app-section-go-contact>

  <app-section-price id="price"></app-section-price>

  <app-section-go-contact></app-section-go-contact>

  <app-section-event id="event"></app-section-event>

  <app-section-go-contact></app-section-go-contact>

  <app-section-step id="step"></app-section-step>

  <app-section-go-contact></app-section-go-contact>

  <app-section-service id="service"></app-section-service>

  <app-section-go-contact></app-section-go-contact>
  
  <!-- <app-section-compnay id="compnay"></app-section-compnay> -->

  <!-- <app-section-works id="works"></app-section-works> -->

  <!-- <app-section-staff id="staff"></app-section-staff> -->

  <app-section-contact id="contact"></app-section-contact>

  <app-section-go-contact></app-section-go-contact>

  <app-section-faq></app-section-faq>

  <app-section-go-contact></app-section-go-contact>

</main><!-- End #main -->




