
    <!-- ======= F.A.Q Section ======= -->
    <section id="faq" class="faq">
      <div class="container-fluid">

        <div class="row gy-4">

          <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch  order-2 order-lg-1">

            <div class="content px-xl-5">
              <h3>よくある質問</h3>
              <p>
                <strong>店舗清掃・厨房清掃</strong>についてよくある質問です。
              </p>
            </div>

            <div class="accordion accordion-flush px-xl-5" id="faqlist">

              <div class="accordion-item" data-aos="fade-up" data-aos-delay="200" *ngFor="let faq of faqs">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#' + faq.id">
                    <i class="bi bi-question-circle question-icon"></i>
                    {{faq.title}}
                  </button>
                </h3>
                <div [id]="faq.id" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body" [innerHTML]="faq.desc"></div>
                </div>
              </div><!-- # Faq item-->

            </div>

          </div>

          <div class="col-lg-5 align-items-stretch order-1 order-lg-2 img" style='background-image: url("assets/img/faq.jpg");'>&nbsp;</div>
        </div>

      </div>
    </section><!-- End F.A.Q Section -->