<section id="term-of-use" class="term-of-use static-header">

  <div class="container">
    <div class="section-title">
      <h1>会社概要</h1>
    </div>
  </div>

  <div class="container container-fluid" >
    <table class="table table-bordered table-striped">
      <colgroup style="width:130px">
      </colgroup><tbody>
          <tr>
              <th>会社名</th>
              <td>{{companyName}}</td>
          </tr>
          <tr>
              <th>設立</th>
              <td>2020 年 5 月 30 日</td>
          </tr>
          <tr>
              <th>事業内容</th>
              <td>清掃作業</td>
          </tr>
          <tr>
              <th>資本金</th>
              <td>100万円</td>
          </tr>
          <tr>
              <th>代表取締役</th>
              <td>{{boss}}</td>
          </tr>
          <tr>
              <th>本社所在地</th>
              <td>{{address}}</td>
          </tr>
          <tr>
              <th>お問い合わせ</th>
              <td><a href="/#contact">お問い合わせ</a></td>
          </tr>
          <tr>
              <th>主要取引銀行</th>
              <td>株式会社三井住友銀行</td>
          </tr>
      </tbody>
    </table>
  </div>
</section>