
  
  <!-- ======= About Section ======= -->
  <section id="service-area" class="service-area">
    <div class="container" >
      
      <div class="row">
        <div class="col-lg-6 pt-4 pt-lg-0 content">
          <h3>サービスエーリア</h3>
          <ul>
            <li><strong>東京都</strong>全地域</li>
            <li><strong>埼玉県</strong>一部</li>
            <li><strong>千葉県</strong>一部</li>
            <li><strong>神奈川県</strong>一部</li>
          </ul>
          
        </div>
        <div class="col-lg-6 " data-aos="zoom-in" data-aos-delay="100">
          <div class="about-img">
            <img appLazyLoad src="https://fitsys2.blob.core.windows.net/seisopro/images/main/service-area.png" loading="lazy" alt="店舗清掃,厨房清掃">
          </div>
        </div>
        
      </div>

    </div>
  </section><!-- End About Section -->