
  
  <!-- ======= About Section ======= -->
  <section id="service-area" class="service-area">
    <div class="container" data-aos="fade-up">
      
      <div class="row">
        <div class="col-lg-6 pt-4 pt-lg-0 content">
          <h3>サービスエーリア</h3>
          <ul>
            <li>東京都全地域</li>
            <li>埼玉県一部</li>
            <li>千葉県一部</li>
            <li>神奈川県一部</li>
          </ul>
          
        </div>
        <div class="col-lg-6 " data-aos="zoom-in" data-aos-delay="100">
          <div class="about-img">
            <img appLazyLoad src="https://fitsys2.blob.core.windows.net/seisopro/images/main/service-area.png" loading="lazy" alt="店舗清掃">
          </div>
        </div>
        
      </div>

    </div>
  </section><!-- End About Section -->