
  
  <!-- ======= About Section ======= -->
  <section id="service-area" class="service-area">
    <div class="container" >
      
      <div class="row">
        <div class="col-lg-6 pt-4 pt-lg-0 content">
          <h3>サービスエーリア</h3>
          <ul>
            <li><strong>東京都</strong>
              <ul>
                <li>23区　全域</li>
                <p>
                  中央区、千代田区、文京区、港区、新宿区、品川区、目黒区、大田区、世田谷区、渋谷区、中野区、杉並区、練馬区、板橋区、豊島区、北区
台東区、墨田区、江東区、荒川区、足立区、葛飾区、江戸川区
                </p>
                <li>多摩地域　一部</li>
                <p>
                  小平市・東村山市・清瀬市・東久留米市・西東京市
武蔵野市・三鷹市・府中市・調布市・小金井市・狛江市
立川市・昭島市・国分寺市・国立市・東大和市・武蔵村山市
八王子市・町田市・日野市・多摩市・稲城市
                </p>
              </ul>
            </li>
            <li><strong>埼玉県</strong>
              <ul>
                <li>さいたま市　全域</li>
                <p>（見沼区. 岩槻区. 蓮田市. 伊奈町. 白岡市. 上尾市. 北区. 大宮区. 西区. 中央区）</p>
                <li>対応都市</li>
                <p>
                  朝霞市、志木市、和光市、新座市、富士見市、ふじみ野市、三芳町、所沢市、川越市、春日部市、草加市、越谷市、八潮市、三郷市、吉川市、松伏町、川口市・蕨市・戸田市
                </p>
              </ul>
            </li>
            <li><strong>神奈川県</strong>
              <ul>
                <li>川崎市全域</li>
                <p>（川崎区、幸区、中原区、高津区、宮前区、多摩区、麻生区）</p>
                <li>横浜市全域</li>
                <p>
                  （鶴見区 · 神奈川区 · 南区 · 港南区 · 保土ケ谷区 · 旭区 · 磯子区 · 港北区 · 緑区 · 青葉区 · 都筑区 · 戸塚区 · 栄区 · 泉区 · 瀬谷区）
                </p>
              </ul>
            </li>
            <li><strong>千葉県</strong>
              <ul>
                <li>千葉市全域</li>
                <p>（中央区・花見川区・稲毛区・若葉区・緑区・美浜区）</p>
                <li>対応都市</li>
                <p>
                  市川市、船橋市、習志野市、八千代市、浦安市、松戸市、野田市、柏市、流山市、我孫子市、鎌ケ谷市
                </p>
              </ul>
            </li>
            
          </ul>
          


        </div>
        <div class="col-lg-6 ">
          <div class="about-img">
            <img appLazyLoad src="https://fitsys2.blob.core.windows.net/seisopro/images/main/service-area.png" loading="lazy" alt="店舗清掃,厨房清掃">
          </div>
        </div>
        
      </div>

    </div>
  </section><!-- End About Section -->