
  <!-- ======= Menu Section ======= -->
  <section id="menu" class="menu section-bg">
    <div class="container">

      <div class="section-title">
        <h2>※価格については、お問い合わせにて、ご相談ください。</h2>
        <p>料金表</p>
      </div>
      <div>
        <ul>
          <li>料金はすべて参考料金です。</li>
          <li>店舗清掃の場合は現地見積もりが必要です。</li>
          <li>当社は　【作業人数×難易度×予想作業時間】で料金を算出します。</li>
        </ul>
      </div>

      <div class="row">
        <div class="col-lg-6" *ngFor="let priceCategory of priceCategories">
          <h2>{{priceCategory.title}}</h2>
          <table class="table">
            <thead>
              <tr>
                <th>項目</th>
                <th class="unit">{{priceCategory.unit}}</th>
                <th class="currency">価格</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let price of getPrice(priceCategory)">
                <td>{{price.title}}</td>
                <td class="unit">{{price.unitValue}}</td>
                <td class="currency">{{price.price | currency:'JPY'}}~</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="container price-warn price-alert">
      <p>※作業金額1万円からの受注になります。</p>
      <p>※2点以上のご依頼でセット料金が適用されます。（税抜き合計金額から20％引き）</p>
      <p>※駐車料金は別途請求になります。</p>
      <p>※記載されてない項目もご相談ください。</p>
    </div>
  </section><!-- End Menu Section -->

