
  <!-- ======= Menu Section ======= -->
  <section id="menu" class="menu section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>※価格については、お問い合わせにて、ご相談ください。</h2>
        <p>料金表</p>
      </div>

      <div class="row">
        <div class="col-lg-6" *ngFor="let priceCategory of priceCategories">
          <h2>{{priceCategory.title}}</h2>
          <table class="table">
            <tr>
              <th>項目</th>
              <th>{{priceCategory.unit}}</th>
              <th>価格</th>
            </tr>
            <tr *ngFor="let price of getPrice(priceCategory)">
              <td>{{price.title}}</td>
              <td>{{price.unitValue}}</td>
              <td>{{price.price | currency:'JPY'}}~</td>
            </tr>
          </table>
        </div>
      </div>

      <!-- <div class="row">
        <div class="col-lg-12 d-flex justify-content-center">
          <ul id="menu-flters">
            <li data-filter="*" class="filter-active">All</li>
            <li data-filter=".filter-house">ハウスクリーニング</li>
            <li data-filter=".filter-aircon">家庭用エアコンクリーニング</li>
            <li data-filter=".filter-store">店舗クリーニング</li>
            <li data-filter=".filter-floor">床清掃</li>
            <li data-filter=".filter-window">ガラス清掃</li>
          </ul>
        </div>
      </div>

      <div class="row menu-container" data-aos="fade-up" data-aos-delay="200">

        <div *ngFor="let menu of menus" class="col-lg-6 menu-item filter-{{menu.category}}">
          <div class="menu-img">
            <i class="{{menu.img}}"></i>
          </div>
          
          <div class="menu-content">
            <a href="#">{{menu.title}}</a><span>{{menu.minutes}}</span>
          </div>
          <div class="menu-ingredients">
            Lorem, deren, trataro, filede, nerada
          </div>
        </div>
      </div> -->
    </div>
    <div class="container aos-init aos-animate price-warn price-alert">
      <p>※作業金額1万円からの受注になります。</p>
      <p>※2点以上のご依頼でセット料金が適用されます。（税抜き合計金額から20％引き）</p>
      <p>※駐車料金は別途請求になります。</p>
      <p>※店舗清掃の場合は現地見積もりが必要になります。</p>
      <p>※当社は作業時間と人員で価格を算出しています。</p>
      <p>※記載されてない項目もご相談ください。</p>
    </div>
  </section><!-- End Menu Section -->

  

