<section id="menu" class="menu section-bg">
  <div class="container">

    <div class="section-title">
      <h2>まずは気軽にお問い合わせください。</h2>
      <p>ご利用の流れ</p>
    </div>

    <div class="row" data-aos-delay="100">
      <div class="col-md-12">
        <div class="main-timeline5">
          <div class="timeline" *ngFor="let step of steps">
            <div class="timeline-icon"><span class="year">{{step.id}}</span></div>
            <div class="timeline-content">
                <h3 class="title">{{step.title}}</h3>
                <p class="description">
              {{step.desc}}
                </p>
            </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</section>
