
<!-- ======= Footer ======= -->
<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-3 col-md-6">
          <div class="footer-info">
            <h3>{{siteName}}</h3>
            <p>
              <strong>運営会社 :</strong> {{compnayName}}<br>
              {{address}} <br><br><br>
              <strong>連絡先 :</strong> <a [href]="'tel:' + phone"> {{phone}}</a><br>
              <strong>メール :</strong> <a href="mailto:info@tenposeiso.com?subject=お問い合わせ"> {{email}}</a><br>
            </p>
            <div class="social-links mt-3">
              <!-- <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a> -->
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>サービス</h4>
          <ul>
            <li *ngFor="let service of services"><i class="bx bx-chevron-right"></i> <a (click)="changeService(service)" href="#specials">{{service.title}}</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>リンク</h4>
          <ul>
            <li *ngFor="let navi of topNavis"><i class="bx bx-chevron-right"></i> <a [href]="navi.path">{{navi.title}}</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>会社情報</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a routerLink="/company">会社概要</a></li>
            <li><i class="bx bx-chevron-right"></i> <a routerLink="/term-of-use">利用約款</a></li>
            <li><i class="bx bx-chevron-right"></i> <a routerLink="/privacy-policy"> 個人情報保護</a></li>
          </ul>
        </div>

      </div>
    </div>
  </div>

  <div class="container">
    <div class="copyright">
      &copy; <span> 2022 ~ {{yearNo}} </span><strong><span>{{siteName}}</span></strong>. All Rights Reserved
    </div>
  </div>
</footer><!-- End Footer -->