<section class="campaign-section">
  <mat-icon class="btn-close" (click)="close()">close</mat-icon>
  <div class="campaign-box">
    <div class="campaign">
      <div class="campaign-round">
        年末年始<br>大掃除<br>承ります。
      </div>
      
    </div>
  </div>
  <div class="campaign-detail-box">
    <ul>
      <li>
        床清掃 ¥15,000〜
      </li>
      <li>
        グリストラップ清掃¥10,000〜
      </li>
      <li>
        厨房清掃¥25,000〜
      </li>
      <li>
        ダクトフード清掃¥25,000〜
      </li>
    </ul>
    <p>まずはお問合せください。</p>
  </div>
  <div>
    <a class="d-button" (click)="close()" mat-raised-button color="primary" href="#contact">
      今すぐお問い合わせ下さい
    </a>
    <!-- <button class="d-button" (click)="close()" mat-raised-button >
      閉じる
    </button> -->
  </div>
  
</section>